/* You can add global styles to this file, and also import other style files */
body{
  margin: 0 !important;
  //background: linear-gradient(red, yellow);;//linear-gradient(#2ab7ca, #ffffff);
}


.rout-container{
  padding: 30px;
  margin: 0 auto;
  min-width: 50px;
  max-width: 700px;
  color: #ffffff;
  text-align: center;
  background-color: #272727;
}

.header{
  font-size: 40px;
  //font-style: bold;
  text-decoration: underline;
}
.tags{
  text-align: right;
}
